@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	font: normal 14px/1.6 'Roboto', sans-serif;
	background: url(../img/geometry.png);
}

body {
	margin: 1em;
	max-width: 64em;
}

h1 {
	font-size: 3em;
	line-height: 1.2em;
	color: #F02233;
	margin: 2em 0 0 0;
	font-family: 'bebas_neueregular', sans-serif;
}

a {
	text-decoration: none;
}

figure {
	margin: 0 0 1em 0;
}

@media only screen and (min-width: 28rem) {

	body {
		margin: 1.5em;
	}

	h1 {
		margin-top: 1em;
		font-size: 5em;
		line-height: 1em;
	}

}

@media only screen and (min-width: 40rem) {

	h1 {
		font-size: 8em;
	}

	body {
		margin: 0 5em 0 1.5em;
	}

}

@media only screen and (min-width: 58rem) {

	h1 {
		width: 40rem;
		padding: 0 0.5rem 0 0;

		margin-bottom: 0.5em;

		position: static;
		z-index: -1;
	}

}

@media only screen and (min-width: 64rem) {

	h1 {
		margin-top: 0.75em;
		line-height: 0.86em;
		font-size: 10em;

		position: static;
	}

}

@media only screen and (min-width: 100rem) {
	html {
		font-size: 1.5em;
	}
}

.logo {
	position: absolute;
	top: -40px;
	left: -60px;
	z-index: -2;
}

.social {

}

.contact {
	font-weight: 700;
	margin-bottom: 3em;
}

.email {
	color: #000;
}

.breakpoint1 {
	display: none;
}

.breakpoint2 {
	display: none;
}

.orphan {
		display: none;
	}

.colon {
	position: relative;
	top: -0.075em;
}

.work {
	width: 100%;
}

@media only screen and (min-width: 28rem) {

	.column {
		padding: 0 0.5em 0 0;
		max-width: 60%;
	}

}

@media only screen and (min-width: 40rem) {

	.logo {
		width: 300px;

		top: -70px;
		left: -90px;
	}

	.breakpoint1 {
		display: none;
	}

	.breakpoint2 {
		display: inline;
	}

}

@media only screen and (min-width: 54rem) {

	.column {
		float: right;
		position: relative;
		top: -8em;
		width: 50%;
		padding: 0 0 0 0.5em;
		margin-bottom: -6em;

	}

	.breakpoint1 {
		display: inline;
	}

	.breakpoint2 {
		display: none;
	}

}

@media only screen and (min-width: 58rem) {

	.column {
		float: right;
		width: 33%;
		margin-top: -36.5em;
		padding: 0 0 0 0.5em;

		position: static;

		margin-bottom: 6em;
	}

	.breakpoint1 {
		display: none;
	}

	.breakpoint2 {
		display: inline;
	}

	.work {
		width: 66%;
		padding-right: 0.5em;
	}

}

@media only screen and (min-width: 64rem) {

	.column {
		margin-top: -40em;

		position: static;
	}

	.orphan {
		display: inline;
	}

}
